<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.neonblonde.health_check</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Volumes/VADER/Manifold/Neon_Blonde/Repos/Neon_v2/scripts/automation/wrapper_health_check.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Volumes/VADER/Manifold/Neon_Blonde/Repos/Neon_v2/logs/automation/health_check.log</string>
    <key>StandardErrorPath</key>
    <string>/Volumes/VADER/Manifold/Neon_Blonde/Repos/Neon_v2/logs/automation/health_check.log</string>
</dict>
</plist>
